img {
    width: 300px;
}

.kartica {
    width: 350px;
    text-align: center;
    border: 2px solid red;
    padding-top: 10px;
    display: inline-block;
    margin: 30px;
} 
#main {
    background-color: blue;
}